<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beau.com.wall.wallpaperapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launch"
        android:supportsRtl="true"
        android:name=".activity.App"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id">
        </meta-data>

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider2370008553327318"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ListWallpaper" />
        <activity android:name=".activity.ViewWallpaper"></activity>
    </application>

</manifest>